<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - 我的 ASP.NET 應用程式</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    @RenderSection("topCSS", false)
    @RenderSection("topJS", false)
</head>
<body>
    @{
        string navbar = System.Web.Configuration.WebConfigurationManager.AppSettings["Navbar"];

        if(String.IsNullOrEmpty(navbar))
        {
            navbar = "_HeaderNavbarDefaultPartial";
        }
    }

    @Html.Partial(navbar)

    @*@if (System.Web.Configuration.WebConfigurationManager.AppSettings["Navbar"] == "Default")
    {
        @Html.Partial("_HeaderNavbarDefaultPartial")
    }
    else
    {
        @Html.Partial("_HeaderNavbarInversePartial")
    }

    @Html.Partial("_HeaderNavbarDefaultPartial")*@

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - 我的 ASP.NET 應用程式</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    @RenderSection("endJS",false)
</body>
</html>
